input {
    padding: 10px 29px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
}
 .button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}
.button:hover {
    cursor: pointer;
}