.task {
    text-align: left;
    color: #0066FF;
    font-size: 20px;
    margin-bottom: 5px;
    height: 50px;
}
.task p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    background-color: #04395e3d;
    border-radius: 5px;
    padding: 15px;
    height: 25px;
    /*transition: background-color .2s ease-out;*/
}
.action-btn {
    margin-left: 50px;
    cursor: pointer;
}